<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Phục vụ trực tiếp file tĩnh nếu tồn tại
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Phục vụ thư mục static của Next.js trực tiếp
  RewriteRule ^_next/static/(.*)$ .next/static/$1 [L]
</IfModule>
